    :root{
        --verde: #005a74;
        --verde-hover: #005b74bf;
        --cinza-bg: #D9D9D9;
        --cinza-txt: #434343;
        --cinza-icon: #b1b1b1;
        --white: white;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 62.5%;
    }

    .app-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-bottom: 110px;
    }

    #main-content {
        flex: 1 1 auto;
        overflow-y: auto;
        padding-bottom: 1vh;
    }

    .mylogo {
        max-width: 150px;
    }

    i {
        transition: transform 0.3s ease;
    }

    i:hover {
        transform: scale(1.2);
    }

    .mytable i {
        color: var(--cinza-txt);
    }

    .table.mytable > :not(caption) > * > * {
        font-size: 20px;
        color: var(--cinza-txt);
    }

    .table.table-striped.table-hover tbody tr:hover td {
        background-color: var(--verde-hover);
        color: var(--white);
    }

    .footer {
        background-color: var(--verde);
        color: var(--white);
        height: 10rem;
        min-height: 6rem;
        display: flex;
    }

    .footer .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
        width: 100%;
        height: auto;
    }

    .footer .nav-item {
        flex: 1 1 0;
        text-align: center;
    }

    .myicon-filter {
        color: var(--cinza-icon);
    }

    .myicon-filter:hover {
        transform: none;
    }

    .myicon-footer {
        color: var(--white);
        font-size: 4rem;
        transition: transform 0.3s ease;
    }

    .mybtn {
        background-color: var(--cinza-bg);
        border: var(--cinza-bg);
        color: var(--cinza-txt);
        padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .mybtn:hover {
        background-color: var(--verde-hover);
        color: var(--white);
    }

    @media (max-width: 102.4rem) {
        .table.mytable > :not(caption) > * > * { font-size: 1.8rem; }
        .myicon-footer { font-size: 3.2rem; }
        .footer { height: 8vh; }
    }

    @media (max-width: 76.8rem) {
        .table.mytable > :not(caption) > * > * { font-size: 1.8rem; }
        .myicon-footer { font-size: 3rem; }
        .footer { height: 6vh; }
    }

    @media (max-width: 57.6rem) {
        .table.mytable > :not(caption) > * > * { font-size: 1.4rem; }
        .myicon-footer { font-size: 2.6rem; }
        .footer { height: 4vh; }
        .mybtn {
            padding: 0.6em 1.2em;
            font-size: 1.4rem;
        }
    }
    
    @media (max-width: 37.5rem) {
        .table.mytable > :not(caption) > * > * { font-size: 1.2rem; }
        .myicon-footer { font-size: 2.2rem; }
        .footer { height: 2vh; }
        .mybtn {
            padding: 0.4em 0.8em;
            font-size: 1.2rem;
        }
    }